/* 데스크탑 화면 */
@media (min-width: 390px) {
  .app-container {
    width: 390px;
    height: 844px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

/* 모바일 화면 */
@media (max-width: 390px) {
  .app-container {
    width: 100vw;
    height: 100vh;
    aspect-ratio: 390/844;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
